<div class="entry_form">
    <p class="heading">Input form</p>
    <p class="nor_head">Personal Information</p>
    <label for="fname">First name:</label> 
    <input type="text" id="fname" name="fname" value='' [(ngModel)]="inpObj.fname"  > 
    <label for="lname">Last name:</label> 
    <input type="text" id="lname" name="lname" value="" [(ngModel)]="inpObj.lname" >  

    <p class="nor_head">Contact Information</p>
    <label for="address">Address :</label> 
    <input type="text" id="address" name="address" value="" [(ngModel)]="inpObj.address" > 
    <label for="city">City :</label> 
    <input type="text" id="city" name="city" value="" [(ngModel)]="inpObj.city" > 
    <label for="z_code">Zip Code :</label> 
    <input type="text" id="z_code" name="z_code" value="" [(ngModel)]="inpObj.z_code" > 

    <input type="submit" value="Submit" class="btn submit" (click)="showResult()">
</div>
