<!-- Header -->
<header id="top-header" class="header-home">
    <div class="grid">
        <div class="col-1-1">
            <div class="content " style="display: flex;">
                <div class="logo-wrap">
                    <img src="./assets/images/kaar-logo.png"
                        width="70px" />
                </div>
                <nav class="navigation">
                   
                    <ul class="nav-container">
                        <li><a href="/KaarTechnologyUI/kaar/#home" class="current">Home</a></li>
                        <li><a href="/KaarTechnologyUI/kaar/#about">About</a></li>
                        <li><a href="/KaarTechnologyUI/kaar/#services">Services</a></li>
                        <li><a href="/KaarTechnologyUI/kaar/#team">Team</a></li>
                        <li><a href="/KaarTechnologyUI/kaar/#contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- End Header -->

<!-- Parallax Section -->
<div class="parallax-section parallax1" id="home">
    <div class="grid grid-pad">
        <div class="col-1-1">
            <div class="content content-header">
                <h2>SAP Digital Transformation Company</h2>
                <p>Kaar Tech is the World’s Best Pure-Play SAP Digital Transformation Consulting and Partner driven by
                    1000+ Specialized SAP Consultants and 5000+ Man-Years of SAP Expertise gained through 2000+ projects
                    for 350+ customers across the globe.</p>
                <a class="btn btn-ghost" href="/KaarTechnologyUI/kaar/#">Find Out More</a>
            </div>
        </div>
    </div>
</div>
<!-- End Parallax Section -->

<!-- CurveUp -->
<svg class="curveUpColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100"
    viewBox="0 0 100 100" preserveAspectRatio="none">
    <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
</svg>