<div class="result_form">
    <p class="heading">Resultant form</p>
    <p class="nor_head">Personal Information</p>
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" value="" [(ngModel)]="resobj.fname" disabled><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" value="" [(ngModel)]="resobj.lname" disabled><br><br>
{{newzobj1}}
    <p class="nor_head">Contact Information</p>
    <label for="address">Address :</label><br>
    <input type="text" id="address" name="address" value="" [(ngModel)]="resobj.address" disabled><br>
    <label for="city">City :</label><br>
    <input type="text" id="city" name="city" value="" [(ngModel)]="resobj.city" disabled><br>
    <label for="z_code">Zip Code :</label><br>
    <input type="text" id="z_code" name="z_code" value="" [(ngModel)]="resobj.z_code" disabled><br>

</div>
