.result_form{
    background-color: white;
    min-width: none;
    height: 80vh;
    width: 30vw;
    margin-left: 8vw;
    border-top: 6px solid #00bb6d;
    padding: 1vh 4vw;
    overflow-y: scroll;
}
.result_form > .heading{
    text-align: center;
    font-size: 3vh;
    font-weight: 700;
    margin: 2vh;
    padding: 0px;
    margin-bottom: 3vh;
    text-transform: uppercase;
    color: #00bb6d ;
}
.nor_head{
    text-align: center;
    margin: 1vh;
    text-transform: uppercase;
    font-weight: 600;
}
.result_form > label{
    font-size: 1.9vh;
}
.result_form > input{
    cursor: text;
    color: #02ac65 ;
    height: 45px;
    font-size: 2.2vh;
    margin-bottom: 1vh;
    padding: 0px;
    border: none !important;
}
@media only screen and (max-width: 900px) {
    .result_form{
        background-color: white;
        min-width: none;
        height: 80vh;
        width: 40vw;
        margin-left: 8vw;
        border-top: 6px solid #00bb6d;
        padding: 1vh 4vw;
        overflow-y: scroll;
    }
    
}
@media only screen and (max-width: 600px) {
    .result_form{
        background-color: white;
        min-width: none;
        height: 80vh;
        width: 85vw;
        margin-left: 0vw;
        border-top: 6px solid #00bb6d;
        padding: 1vh 4vw;
        overflow-y: scroll;
    }
}